<select [(ngModel)]="resultsType" (ngModelChange)="changeResultsType()" style="float:right;">
	<option value="points">Points</option>
	<option value="weight">Weight Loss</option>
</select>
<span style="float:right; margin-right:10px;">Sort By:</span>
<select [(ngModel)]="resultsWeek" (ngModelChange)="changeResultsType()" style="float:right; margin-right:25px;">
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
</select>
<span style="float:right; margin-right:10px;">Week:</span>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': indvTab}" (click)="toggleTab('indv')" href="javascript:void(0)">Individuals</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': teamsTab}" (click)="toggleTab('teams')" href="javascript:void(0)">Teams</a>
    </li>
</ul>
<div class="col-md-12" *ngIf="indvTab" style="margin-top:10px;">
	<div *ngFor="let team of results; let i = index">
		<h4>Team {{ i + 1 }}</h4>
		<table class="table table-bordered">
			<thead>
				<th>Position</th>
				<th>Name</th>
				<th>Week Points</th>
				<th>Total Points</th>
				<th>Week Weight Change</th>
				<th>Total Weight Change</th>
			</thead>
			<tbody *ngIf="resultsType == 'points'">
				<tr *ngFor="let row of lodash.orderBy(team['participant_data']['rows'], ['total_points'], ['desc']); let x = index">
					<td>{{ x + 1 }}</td>
					<td>{{ row.name }}</td>
					<td>{{ row.week_points }}</td>
					<td>{{ row.total_points }}</td>
					<td>{{ row.week_weight_loss }}%</td>
					<td>{{ row.total_weight_loss }}%</td>
				</tr>
				<tr>
					<td></td>
					<td><strong>Totals: </strong></td>
					<td>Avg: {{ calcAverage(team['participant_data']['rows'], 'week', 'points') }}</td>
					<td>Avg: {{ calcAverage(team['participant_data']['rows'], 'total', 'points') }}</td>
					<td>Avg: {{ calcAverage(team['participant_data']['rows'], 'week', 'weight') }}%</td>
					<td>Avg: {{ calcAverage(team['participant_data']['rows'], 'total', 'weight') }}%</td>
				</tr>
			</tbody>
			<tbody *ngIf="resultsType == 'weight'">
				<tr *ngFor="let row of lodash.orderBy(team['participant_data']['rows'], ['total_weight_loss'], ['asc']); let x = index">
					<td>{{ x + 1 }}</td>
					<td>{{ row.name }}</td>
					<td>{{ row.week_points }}</td>
					<td>{{ row.total_points }}</td>
					<td>{{ row.week_weight_loss }}%</td>
					<td>{{ row.total_weight_loss }}%</td>
				</tr>
				<tr>
					<td></td>
					<td><strong>Totals: </strong></td>
					<td>Avg: {{ calcAverage(team['participant_data']['rows'], 'week', 'points') }}</td>
					<td>Avg: {{ calcAverage(team['participant_data']['rows'], 'total', 'points') }}</td>
					<td>Avg: {{ calcAverage(team['participant_data']['rows'], 'week', 'weight') }}%</td>
					<td>Avg: {{ calcAverage(team['participant_data']['rows'], 'total', 'weight') }}%</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="col-md-12" *ngIf="teamsTab" style="margin-top:10px;">
	<table class="table table-bordered">
		<thead>
			<th>Position</th>
			<th>Name</th>
			<th>Week Points</th>
			<th>Total Average Points</th>
			<th>Week Weight Change</th>
			<th>Total Average Weight Change</th>
		</thead>
		<tbody *ngIf="resultsType == 'points'">
			<tr *ngFor="let row of lodash.orderBy(results, ['total_average_points'], ['desc']); let x = index">
				<td>{{ x + 1 }}</td>
				<td>Team {{ row.team_name }}</td>
				<td>{{ row.week_average_points.toFixed(1) }}</td>
				<td>{{ row.total_average_points.toFixed(1) }}</td>
				<td>{{ row.week_weight_change.toFixed(2) }}%</td>
				<td>{{ row.total_weight_change.toFixed(2) }}%</td>
			</tr>
		</tbody>
		<tbody *ngIf="resultsType == 'weight'">
			<tr *ngFor="let row of lodash.orderBy(results, ['total_weight_change'], ['asc']); let x = index">
				<td>{{ x + 1 }}</td>
				<td>Team {{ row.team_name }}</td>
				<td>{{ row.week_average_points.toFixed(1) }}</td>
				<td>{{ row.total_average_points.toFixed(1) }}</td>
				<td>{{ row.week_weight_change.toFixed(2) }}%</td>
				<td>{{ row.total_weight_change.toFixed(2) }}%</td>
			</tr>
		</tbody>
	</table>
</div>
