<!-- <app-page-header [heading]="'My Teams'" [icon]="'fa-table'"></app-page-header> -->
<h2>
    <select class="form-control" style="width: 15%; display: inline-block;" [(ngModel)]="displayId" (ngModelChange)="changeTeamDisplay()">
        <option [value]="1">Erika's Teams</option>
        <option [value]="2">Laura's Teams</option>
    </select>
    <button class="btn" style="background-color: #f58a07; color:white; float:right;" (click)="emailResults()">Email Results</button>
    <button class="btn" style="background-color: #13AADD; color:white; margin-right:10px;" data-toggle="modal" data-target="#teamIntroModal">Intro Email</button>
    <button class="btn" style="background-color: #13AADD; color:white; float:right; margin-right:10px;" data-toggle="modal" data-target="#reminderModal">Weekly Reminder Email</button>
</h2>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': week1Tab}" (click)="toggleTab(1)" href="javascript:void(0)">Week 1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': week2Tab}" (click)="toggleTab(2)" href="javascript:void(0)">Week 2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': week3Tab}" (click)="toggleTab(3)" href="javascript:void(0)">Week 3</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': week4Tab}" (click)="toggleTab(4)" href="javascript:void(0)">Week 4</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': week5Tab}" (click)="toggleTab(5)" href="javascript:void(0)">Week 5</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': week6Tab}" (click)="toggleTab(6)" href="javascript:void(0)">Week 6</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': week7Tab}" (click)="toggleTab(7)" href="javascript:void(0)">Week 7</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': week8Tab}" (click)="toggleTab(8)" href="javascript:void(0)">Week 8</a>
    </li>
</ul>
<br/>
<div class="row" *ngIf="week1Tab">
    <div class="col col-md-12" *ngFor="let team of myTeams">
        <div *ngIf="lodash.size(myTeams) == 0">You have no teams!</div>
        <div class="card mb-3">
            <div class="card-header" style="font-size:24px;">
                <a [routerLink]="['/team-tracker', team.id]">Team {{ team.name }}</a> ({{lodash.size(team.members)}} members)
                <button class="btn" style="background-color: #f58a07; color:white; margin-left:10px;" (click)="setTeamVariable(team)" data-toggle="modal" data-target="#emailTeamModal">Email this team</button>
                <button class="btn btn-info" style="background-color: #13AADD; float:right;" (click)="saveData()">Save Data</button>
            </div>
            <div class="card-body table-responsive">
                <table class="table" style="min-width:1300px;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Initial Weight</th>
                            <th>Current Weight</th>
                            <th>Weight Loss/Gain</th>
                            <th>Weight Loss/Gain %</th>
                            <th>Points</th>
                            <th>Dropout</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="team">
                        <tr *ngFor="let member of team.members">
                            <td><a [routerLink]="['/participant', member.participant.id]">{{ member.participant.first_name }} {{ member.participant.last_name }}</a></td>
                            <td>
                                <input [disabled]="member.participant.disabled" class="form-control" [(ngModel)]="member.participant.results.initial_weight" />
                                <span *ngIf="member.participant.results.initial_weight">lbs</span>
                            </td>
                            <td>
                                <input [disabled]="member.participant.disabled" class="form-control" [(ngModel)]="member.participant.results.week_1_weight" />
                                <span *ngIf="member.participant.results.week_1_weight">lbs</span>
                            </td>
                            <td>
                                {{ (member.participant.results.week_1_weight - member.participant.results.initial_weight).toFixed(1) }} 
                                <span *ngIf="member.participant.results.week_1_weight">lbs</span>
                            </td>
                            <td>
                                {{ (((1.0 - (member.participant.results.week_1_weight / member.participant.results.initial_weight)) * 100)*-1).toFixed(2) }}
                                <span *ngIf="member.participant.results.week_1_weight">%</span>
                            </td>
                            <td>
                                <input [disabled]="member.participant.disabled" class="form-control" [(ngModel)]="member.participant.results.week_1_points" />
                            </td>
                            <td><button class="btn btn-danger" (click)="memberDropout(member.participant.id)">Dropout</button></td>
                            <td>
                                <button *ngIf="!member.participant.disabled" class="btn btn-warning" (click)="disableMember(member.participant.id, 'disable')">Disable</button>
                                <button *ngIf="member.participant.disabled" class="btn btn-warning" (click)="disableMember(member.participant.id, 'enable')">Enable</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="week2Tab">
    <div class="col col-md-12" *ngFor="let team of myTeams">
        <div class="card mb-3">
            <div class="card-header" style="font-size:24px;">
                <a [routerLink]="['/team-tracker', team.id]">Team {{ team.name }}</a> ({{lodash.size(team.members)}} members)
                <button class="btn" style="background-color: #f58a07; color:white; margin-left:10px;" (click)="setTeamVariable(team)" data-toggle="modal" data-target="#emailTeamModal">Email this team</button>
                <button class="btn btn-info" style="background-color: #13AADD; float:right;" (click)="saveData()">Save Data</button>
            </div>
            <div class="card-body table-responsive">
                <table class="table" style="min-width:1700px;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Week 1 Weight</th>
                            <th>Current Weight</th>
                            <th>Weight Loss/Gain</th>
                            <th>Weight Loss/Gain %</th>
                            <th>Points</th>
                            <th>Total Weight Loss/Gain</th>
                            <th>Total % Weight Loss/Gain</th>
                            <th>Total Points</th>
                            <th>Dropout</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="team">
                        <tr *ngFor="let member of team.members">
                            <td><a [routerLink]="['/participant', member.participant.id]">{{ member.participant.first_name }} {{ member.participant.last_name }}</a></td>
                            <td>
                                {{ member.participant.results.week_1_weight }} 
                                <span *ngIf="member.participant.results.week_1_weight">lbs</span>
                            </td>
                            <td>
                                <input [disabled]="member.participant.disabled" class="form-control" [(ngModel)]="member.participant.results.week_2_weight" />
                                <span *ngIf="member.participant.results.week_2_weight">lbs</span>
                            </td>
                            <td>
                                {{ (member.participant.results.week_2_weight - member.participant.results.week_1_weight).toFixed(1) }} 
                                <span *ngIf="member.participant.results.week_2_weight">lbs</span>
                            </td>
                            <td>
                                {{ (((1.0 - (member.participant.results.week_2_weight / member.participant.results.week_1_weight)) * 100)*-1).toFixed(2) }}
                                <span *ngIf="member.participant.results.week_2_weight">%</span>
                            </td>
                            <td>
                                <input [disabled]="member.participant.disabled" class="form-control" [(ngModel)]="member.participant.results.week_2_points" />
                            </td>
                            <td>
                                {{ calcTotWeightChange(member.participant.results.initial_weight, member.participant.results.week_2_weight, 'lbs') }} lbs
                            </td>
                            <td>
                                {{ calcTotWeightChange(member.participant.results.initial_weight, member.participant.results.week_2_weight, '%') }}%
                            </td>
                            <td>
                                {{ calcTotPoints(member.participant.results, 'week2') }}
                            </td>
                            <td><button class="btn btn-danger" (click)="memberDropout(member.participant.id)">Dropout</button></td>
                            <td>
                                <button *ngIf="!member.participant.disabled" class="btn btn-warning" (click)="disableMember(member.participant.id, 'disable')">Disable</button>
                                <button *ngIf="member.participant.disabled" class="btn btn-warning" (click)="disableMember(member.participant.id, 'enable')">Enable</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="week3Tab">
    <div class="col col-md-12" *ngFor="let team of myTeams">
        <div class="card mb-3">
            <div class="card-header" style="font-size:24px;">
                <a [routerLink]="['/team-tracker', team.id]">Team {{ team.name }}</a> ({{lodash.size(team.members)}} members)
                <button class="btn" style="background-color: #f58a07; color:white; margin-left:10px;" (click)="setTeamVariable(team)" data-toggle="modal" data-target="#emailTeamModal">Email this team</button>
                <button class="btn btn-info" style="background-color: #13AADD; float:right;" (click)="saveData()">Save Data</button>
            </div>
            <div class="card-body table-responsive">
                <table class="table" style="min-width:1700px;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Week 2 Weight</th>
                            <th>Current Weight</th>
                            <th>Weight Loss/Gain</th>
                            <th>Weight Loss/Gain %</th>
                            <th>Points</th>
                            <th>Total Weight Loss/Gain</th>
                            <th>Total % Weight Loss/Gain</th>
                            <th>Total Points</th>
                            <th>Dropout</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="team">
                        <tr *ngFor="let member of team.members">
                            <td><a [routerLink]="['/participant', member.participant.id]">{{ member.participant.first_name }} {{ member.participant.last_name }}</a></td>
                            <td>
                                {{ member.participant.results.week_2_weight }} 
                                <span *ngIf="member.participant.results.week_2_weight">lbs</span>
                            </td>
                            <td>
                                <input [disabled]="member.participant.disabled" class="form-control" [(ngModel)]="member.participant.results.week_3_weight" />
                                <span *ngIf="member.participant.results.week_3_weight">lbs</span>
                            </td>
                            <td>
                                {{ (member.participant.results.week_3_weight - member.participant.results.week_2_weight).toFixed(1) }} 
                                <span *ngIf="member.participant.results.week_3_weight">lbs</span>
                            </td>
                            <td>
                                {{ ((1.0 - (member.participant.results.week_3_weight / member.participant.results.week_2_weight)) * 100).toFixed(2) * -1 }}
                                <span *ngIf="member.participant.results.week_3_weight">%</span>
                            </td>
                            <td>
                                <input [disabled]="member.participant.disabled" class="form-control" [(ngModel)]="member.participant.results.week_3_points" />
                            </td>
                            <td>
                                {{ calcTotWeightChange(member.participant.results.initial_weight, member.participant.results.week_3_weight, 'lbs') }} lbs
                            </td>
                            <td>
                                {{ calcTotWeightChange(member.participant.results.initial_weight, member.participant.results.week_3_weight, '%') }}%
                            </td>
                            <td>
                                {{ calcTotPoints(member.participant.results, 'week3') }}
                            </td>
                            <td><button class="btn btn-danger" (click)="memberDropout(member.participant.id)">Dropout</button></td>
                            <td>
                                <button *ngIf="!member.participant.disabled" class="btn btn-warning" (click)="disableMember(member.participant.id, 'disable')">Disable</button>
                                <button *ngIf="member.participant.disabled" class="btn btn-warning" (click)="disableMember(member.participant.id, 'enable')">Enable</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="week4Tab">
    <div class="col col-md-12" *ngFor="let team of myTeams">
        <div class="card mb-3">
            <div class="card-header" style="font-size:24px;">
                <a [routerLink]="['/team-tracker', team.id]">Team {{ team.name }}</a> ({{lodash.size(team.members)}} members)
                <button class="btn" style="background-color: #f58a07; color:white; margin-left:10px;" (click)="setTeamVariable(team)" data-toggle="modal" data-target="#emailTeamModal">Email this team</button>
                <button class="btn btn-info" style="background-color: #13AADD; float:right;" (click)="saveData()">Save Data</button>
            </div>
            <div class="card-body table-responsive">
                <table class="table" style="min-width:1700px;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Week 3 Weight</th>
                            <th>Current Weight</th>
                            <th>Weight Loss/Gain</th>
                            <th>Weight Loss/Gain %</th>
                            <th>Points</th>
                            <th>Total Weight Loss/Gain</th>
                            <th>Total % Weight Loss/Gain</th>
                            <th>Total Points</th>
                            <th>Dropout</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="team">
                        <tr *ngFor="let member of team.members">
                            <td><a [routerLink]="['/participant', member.participant.id]">{{ member.participant.first_name }} {{ member.participant.last_name }}</a></td>
                            <td>
                                {{ member.participant.results.week_3_weight }} 
                                <span *ngIf="member.participant.results.week_3_weight">lbs</span>
                            </td>
                            <td>
                                <input [disabled]="member.participant.disabled" class="form-control" [(ngModel)]="member.participant.results.week_4_weight" />
                                <span *ngIf="member.participant.results.week_4_weight">lbs</span>
                            </td>
                            <td>
                                {{ (member.participant.results.week_4_weight - member.participant.results.week_3_weight).toFixed(1) }} 
                                <span *ngIf="member.participant.results.week_4_weight">lbs</span>
                            </td>
                            <td>
                                {{ ((1.0 - (member.participant.results.week_4_weight / member.participant.results.week_3_weight)) * 100).toFixed(2) * -1 }}
                                <span *ngIf="member.participant.results.week_4_weight">%</span>
                            </td>
                            <td>
                                <input [disabled]="member.participant.disabled" class="form-control" [(ngModel)]="member.participant.results.week_4_points" />
                            </td>
                            <td>
                                {{ calcTotWeightChange(member.participant.results.initial_weight, member.participant.results.week_4_weight, 'lbs') }} lbs
                            </td>
                            <td>
                                {{ calcTotWeightChange(member.participant.results.initial_weight, member.participant.results.week_4_weight, '%') }}%
                            </td>
                            <td>
                                {{ calcTotPoints(member.participant.results, 'week4') }}
                            </td>
                            <td><button class="btn btn-danger" (click)="memberDropout(member.participant.id)">Dropout</button></td>
                            <td>
                                <button *ngIf="!member.participant.disabled" class="btn btn-warning" (click)="disableMember(member.participant.id, 'disable')">Disable</button>
                                <button *ngIf="member.participant.disabled" class="btn btn-warning" (click)="disableMember(member.participant.id, 'enable')">Enable</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="week5Tab">
    <div class="col col-md-12" *ngFor="let team of myTeams">
        <div class="card mb-3">
            <div class="card-header" style="font-size:24px;">
                <a [routerLink]="['/team-tracker', team.id]">Team {{ team.name }}</a> ({{lodash.size(team.members)}} members)
                <button class="btn" style="background-color: #f58a07; color:white; margin-left:10px;" (click)="setTeamVariable(team)" data-toggle="modal" data-target="#emailTeamModal">Email this team</button>
                <button class="btn btn-info" style="background-color: #13AADD; float:right;" (click)="saveData()">Save Data</button>
            </div>
            <div class="card-body table-responsive">
                <table class="table" style="min-width:1700px;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Week 4 Weight</th>
                            <th>Current Weight</th>
                            <th>Weight Loss/Gain</th>
                            <th>Weight Loss/Gain %</th>
                            <th>Points</th>
                            <th>Total Weight Loss/Gain</th>
                            <th>Total % Weight Loss/Gain</th>
                            <th>Total Points</th>
                            <th>Dropout</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="team">
                        <tr *ngFor="let member of team.members">
                            <td><a [routerLink]="['/participant', member.participant.id]">{{ member.participant.first_name }} {{ member.participant.last_name }}</a></td>
                            <td>
                                {{ member.participant.results.week_4_weight }} 
                                <span *ngIf="member.participant.results.week_4_weight">lbs</span>
                            </td>
                            <td>
                                <input [disabled]="member.participant.disabled" class="form-control" [(ngModel)]="member.participant.results.week_5_weight" />
                                <span *ngIf="member.participant.results.week_5_weight">lbs</span>
                            </td>
                            <td>
                                {{ (member.participant.results.week_5_weight - member.participant.results.week_4_weight).toFixed(1) }} 
                                <span *ngIf="member.participant.results.week_5_weight">lbs</span>
                            </td>
                            <td>
                                {{ ((1.0 - (member.participant.results.week_5_weight / member.participant.results.week_4_weight)) * 100).toFixed(2) * -1 }}
                                <span *ngIf="member.participant.results.week_5_weight">%</span>
                            </td>
                            <td>
                                <input [disabled]="member.participant.disabled" class="form-control" [(ngModel)]="member.participant.results.week_5_points" />
                            </td>
                            <td>
                                {{ calcTotWeightChange(member.participant.results.initial_weight, member.participant.results.week_5_weight, 'lbs') }} lbs
                            </td>
                            <td>
                                {{ calcTotWeightChange(member.participant.results.initial_weight, member.participant.results.week_5_weight, '%') }}%
                            </td>
                            <td>
                                {{ calcTotPoints(member.participant.results, 'week5') }}
                            </td>
                            <td><button class="btn btn-danger" (click)="memberDropout(member.participant.id)">Dropout</button></td>
                            <td>
                                <button *ngIf="!member.participant.disabled" class="btn btn-warning" (click)="disableMember(member.participant.id, 'disable')">Disable</button>
                                <button *ngIf="member.participant.disabled" class="btn btn-warning" (click)="disableMember(member.participant.id, 'enable')">Enable</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="week6Tab">
    <div class="col col-md-12" *ngFor="let team of myTeams">
        <div class="card mb-3">
            <div class="card-header" style="font-size:24px;">
                <a [routerLink]="['/team-tracker', team.id]">Team {{ team.name }}</a> ({{lodash.size(team.members)}} members)
                <button class="btn" style="background-color: #f58a07; color:white; margin-left:10px;" (click)="setTeamVariable(team)" data-toggle="modal" data-target="#emailTeamModal">Email this team</button>
                <button class="btn btn-info" style="background-color: #13AADD; float:right;" (click)="saveData()">Save Data</button>
            </div>
            <div class="card-body table-responsive">
                <table class="table" style="min-width:1700px;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Week 5 Weight</th>
                            <th>Current Weight</th>
                            <th>Weight Loss/Gain</th>
                            <th>Weight Loss/Gain %</th>
                            <th>Points</th>
                            <th>Total Weight Loss/Gain</th>
                            <th>Total % Weight Loss/Gain</th>
                            <th>Total Points</th>
                            <th>Dropout</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="team">
                        <tr *ngFor="let member of team.members">
                            <td><a [routerLink]="['/participant', member.participant.id]">{{ member.participant.first_name }} {{ member.participant.last_name }}</a></td>
                            <td>
                                {{ member.participant.results.week_5_weight }} 
                                <span *ngIf="member.participant.results.week_5_weight">lbs</span>
                            </td>
                            <td>
                                <input [disabled]="member.participant.disabled" class="form-control" [(ngModel)]="member.participant.results.week_6_weight" />
                                <span *ngIf="member.participant.results.week_6_weight">lbs</span>
                            </td>
                            <td>
                                {{ (member.participant.results.week_6_weight - member.participant.results.week_5_weight).toFixed(1) }} 
                                <span *ngIf="member.participant.results.week_6_weight">lbs</span>
                            </td>
                            <td>
                                {{ ((1.0 - (member.participant.results.week_6_weight / member.participant.results.week_5_weight)) * 100).toFixed(2) * -1 }}
                                <span *ngIf="member.participant.results.week_6_weight">%</span>
                            </td>
                            <td>
                                <input [disabled]="member.participant.disabled" class="form-control" [(ngModel)]="member.participant.results.week_6_points" />
                            </td>
                            <td>
                                {{ calcTotWeightChange(member.participant.results.initial_weight, member.participant.results.week_6_weight, 'lbs') }} lbs
                            </td>
                            <td>
                                {{ calcTotWeightChange(member.participant.results.initial_weight, member.participant.results.week_6_weight, '%') }}%
                            </td>
                            <td>
                                {{ calcTotPoints(member.participant.results, 'week6') }}
                            </td>
                            <td><button class="btn btn-danger" (click)="memberDropout(member.participant.id)">Dropout</button></td>
                            <td>
                                <button *ngIf="!member.participant.disabled" class="btn btn-warning" (click)="disableMember(member.participant.id, 'disable')">Disable</button>
                                <button *ngIf="member.participant.disabled" class="btn btn-warning" (click)="disableMember(member.participant.id, 'enable')">Enable</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="week7Tab">
    <div class="col col-md-12" *ngFor="let team of myTeams">
        <div class="card mb-3">
            <div class="card-header" style="font-size:24px;">
                <a [routerLink]="['/team-tracker', team.id]">Team {{ team.name }}</a> ({{lodash.size(team.members)}} members)
                <button class="btn" style="background-color: #f58a07; color:white; margin-left:10px;" (click)="setTeamVariable(team)" data-toggle="modal" data-target="#emailTeamModal">Email this team</button>
                <button class="btn btn-info" style="background-color: #13AADD; float:right;" (click)="saveData()">Save Data</button>
            </div>
            <div class="card-body table-responsive">
                <table class="table" style="min-width:1700px;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Week 6 Weight</th>
                            <th>Current Weight</th>
                            <th>Weight Loss/Gain</th>
                            <th>Weight Loss/Gain %</th>
                            <th>Points</th>
                            <th>Total Weight Loss/Gain</th>
                            <th>Total % Weight Loss/Gain</th>
                            <th>Total Points</th>
                            <th>Dropout</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="team">
                        <tr *ngFor="let member of team.members">
                            <td><a [routerLink]="['/participant', member.participant.id]">{{ member.participant.first_name }} {{ member.participant.last_name }}</a></td>
                            <td>
                                {{ member.participant.results.week_6_weight }} 
                                <span *ngIf="member.participant.results.week_6_weight">lbs</span>
                            </td>
                            <td>
                                <input [disabled]="member.participant.disabled" class="form-control" [(ngModel)]="member.participant.results.week_7_weight" />
                                <span *ngIf="member.participant.results.week_7_weight">lbs</span>
                            </td>
                            <td>
                                {{ (member.participant.results.week_7_weight - member.participant.results.week_6_weight).toFixed(1) }} 
                                <span *ngIf="member.participant.results.week_7_weight">lbs</span>
                            </td>
                            <td>
                                {{ ((1.0 - (member.participant.results.week_7_weight / member.participant.results.week_6_weight)) * 100).toFixed(2) * -1 }}
                                <span *ngIf="member.participant.results.week_7_weight">%</span>
                            </td>
                            <td>
                                <input [disabled]="member.participant.disabled" class="form-control" [(ngModel)]="member.participant.results.week_7_points" />
                            </td>
                            <td>
                                {{ calcTotWeightChange(member.participant.results.initial_weight, member.participant.results.week_7_weight, 'lbs') }} lbs
                            </td>
                            <td>
                                {{ calcTotWeightChange(member.participant.results.initial_weight, member.participant.results.week_7_weight, '%') }}%
                            </td>
                            <td>
                                {{ calcTotPoints(member.participant.results, 'week7') }}
                            </td>
                            <td><button class="btn btn-danger" (click)="memberDropout(member.participant.id)">Dropout</button></td>
                            <td>
                                <button *ngIf="!member.participant.disabled" class="btn btn-warning" (click)="disableMember(member.participant.id, 'disable')">Disable</button>
                                <button *ngIf="member.participant.disabled" class="btn btn-warning" (click)="disableMember(member.participant.id, 'enable')">Enable</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="week8Tab">
    <div class="col col-md-12" *ngFor="let team of myTeams">
        <div class="card mb-3">
            <div class="card-header" style="font-size:24px;">
                <a [routerLink]="['/team-tracker', team.id]">Team {{ team.name }}</a> ({{lodash.size(team.members)}} members)
                <button class="btn" style="background-color: #f58a07; color:white; margin-left:10px;" (click)="setTeamVariable(team)" data-toggle="modal" data-target="#emailTeamModal">Email this team</button>
                <button class="btn btn-info" style="background-color: #13AADD; float:right;" (click)="saveData()">Save Data</button>
            </div>
            <div class="card-body table-responsive">
                <table class="table" style="min-width:1700px;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Week 7 Weight</th>
                            <th>Current Weight</th>
                            <th>Weight Loss/Gain</th>
                            <th>Weight Loss/Gain %</th>
                            <th>Points</th>
                            <th>Total Weight Loss/Gain</th>
                            <th>Total % Weight Loss/Gain</th>
                            <th>Total Points</th>
                            <th>Dropout</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="team">
                        <tr *ngFor="let member of team.members">
                            <td><a [routerLink]="['/participant', member.participant.id]">{{ member.participant.first_name }} {{ member.participant.last_name }}</a></td>
                            <td>
                                {{ member.participant.results.week_7_weight }} 
                                <span *ngIf="member.participant.results.week_7_weight">lbs</span>
                            </td>
                            <td>
                                <input [disabled]="member.participant.disabled" class="form-control" [(ngModel)]="member.participant.results.week_8_weight" />
                                <span *ngIf="member.participant.results.week_8_weight">lbs</span>
                            </td>
                            <td>
                                {{ (member.participant.results.week_8_weight - member.participant.results.week_7_weight).toFixed(1) }} 
                                <span *ngIf="member.participant.results.week_8_weight">lbs</span>
                            </td>
                            <td>
                                {{ ((1.0 - (member.participant.results.week_8_weight / member.participant.results.week_7_weight)) * 100).toFixed(2) * -1 }}
                                <span *ngIf="member.participant.results.week_8_weight">%</span>
                            </td>
                            <td>
                                <input [disabled]="member.participant.disabled" class="form-control" [(ngModel)]="member.participant.results.week_8_points" />
                            </td>
                            <td>
                                {{ calcTotWeightChange(member.participant.results.initial_weight, member.participant.results.week_8_weight, 'lbs') }} lbs
                            </td>
                            <td>
                                {{ calcTotWeightChange(member.participant.results.initial_weight, member.participant.results.week_8_weight, '%') }}%
                            </td>
                            <td>
                                {{ calcTotPoints(member.participant.results, 'week8') }}
                            </td>
                            <td><button class="btn btn-danger" (click)="memberDropout(member.participant.id)">Dropout</button></td>
                            <td>
                                <button *ngIf="!member.participant.disabled" class="btn btn-warning" (click)="disableMember(member.participant.id, 'disable')">Disable</button>
                                <button *ngIf="member.participant.disabled" class="btn btn-warning" (click)="disableMember(member.participant.id, 'enable')">Enable</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Reminder email modal -->
<div class="modal fade" id="reminderModal" tabindex="-1" role="dialog" aria-labelledby="reminderModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reminder Email</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <quill-editor [(ngModel)]="reminderEmailContent"></quill-editor>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button *ngIf="!sendingEmails" type="button" class="btn btn-primary" (click)="sendReminderEmail()">Send</button>
                <i *ngIf="sendingEmails" class="fa fa-spinner fa-spin fa-lg" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
<!-- Email team modal -->
<div class="modal fade" id="emailTeamModal" tabindex="-1" role="dialog" aria-labelledby="emailTeamModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Email Team {{ emailTeamVar }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <quill-editor [(ngModel)]="emailTeamContent.email"></quill-editor>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="sendTeamEmail()" data-dismiss="modal">Send</button>
            </div>
        </div>
    </div>
</div>
<!-- Intro Email Modal -->
<div class="modal fade" id="teamIntroModal" tabindex="-1" role="dialog" aria-labelledby="teamIntroModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Team Intro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>*This email will include the coach's name and a table displaying their team and contact info at the end</span>
                <br/><br/>
                <quill-editor [(ngModel)]="introEmailContent"></quill-editor>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="introEmail()" data-dismiss="modal">Send</button>
            </div>
        </div>
    </div>
</div>