<div class="container" style="margin-top:5%;">
    <div class="card">
        <div class="card-header">
            <img style="margin-left:auto; margin-right:auto; display:block;" src="https://hinttohabit.com/wp-content/uploads/2018/02/Header-Logo.png">
        </div>
        <div class="card-block" style="background-color: white;">
            <div class="col-sm-12 col-md-12">
                <div style="margin-bottom: 15px;">
                    <label class="bold" style="margin-right: 10px;">First Name: </label>
                    <span>{{ participantData.first_name }}</span>
                </div>
                <div style="margin-bottom: 15px;">
                    <label class="bold" style="margin-right: 10px;">Last Name: </label>
                    <span>{{ participantData.last_name }}</span>
                </div>
                <div style="margin-bottom: 15px;">
                    <label class="bold" style="margin-right: 10px;">Gender: </label>
                    <span>{{ participantData.gender }}</span>
                </div>
                <div style="margin-bottom: 15px;">
                    <label class="bold" style="margin-right: 10px;">Age: </label>
                    <span>{{ participantData.age }}</span>
                </div>
                <div style="margin-bottom: 15px;">
                    <label class="bold" style="margin-right: 10px;">Best email address to reach you at (please make sure you double check it is entered correctly, as this is how we will communicate with you): </label>
                    <span>{{ participantData.email }}</span>
                </div>
                <div style="margin-bottom: 15px;">
                    <label class="bold" style="margin-right: 10px;">Is there someone else who paid for you to do this program?: </label>
                    <span *ngIf="participantData.paid_by_other">Yes</span>
                    <span *ngIf="!participantData.paid_by_other">No</span>
                </div>
                <div style="margin-bottom: 15px;" *ngIf="participantData.paid_by_other">
                    <label class="bold" style="margin-right: 10px;">If yes, who was it? (Please leave their name so we can match it to our records and make sure we get your info correctly added to the group): </label>
                    <span>{{ participantData.paid_by_other_name }}</span>
                </div>
                <div style="margin-bottom: 15px;">
                    <label class="bold" style="margin-right: 10px;">Would you like to be part of our private Facebook group?: </label>
                    <span *ngIf="participantData.facebook_group">Yes</span>
                    <span *ngIf="!participantData.facebook_group">No</span>
                </div>
                <div style="margin-bottom: 15px;" *ngIf="participantData.facebook_email">
                    <label class="bold" style="margin-right: 10px;">If yes, what is the email address associated with your Facebook page (if different than above)?: </label>
                    <span>{{ participantData.facebook_email }}</span>
                </div>
                <div style="margin-bottom: 15px;">
                    <label class="bold" style="margin-right: 10px;">As one of the ways to earn a point/checkmark each day, you have to be in contact with your teammates. Are you comfortable with your teammates having your cell phone number in case they want to send you a text message to encourage you and motivate you?: </label>
                    <span *ngIf="participantData.share_phone">Yes</span>
                    <span *ngIf="!participantData.share_phone">No</span>
                </div>
                <div style="margin-bottom: 15px;" *ngIf="participantData.share_phone">
                    <label class="bold" style="margin-right: 10px;">If yes, what is the best number to reach you?: </label>
                    <span>{{ strReplace(participantData.phone) }}</span>
                </div>
                <div style="margin-bottom: 15px;">
                    <label class="bold" style="margin-right: 10px;">Is there anyone else who has signed up that you would like to have on your team? If yes, please leave their names below (be sure to use their full name and/or nickname so we can put you on the same team): </label>
                    <span *ngIf="!participantData.team_request">N/A</span>
                    <span *ngIf="participantData.team_request">{{ participantData.team_request }}</span>
                </div>
                <div style="margin-bottom: 15px;">
                    <label class="bold" style="margin-right: 10px;">What is something you need extra help with when it comes to your health and fitness goals?: </label>
                    <span>{{ participantData.extra_help }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
