<!-- <div [@routerTransition]> -->
    <!-- <app-page-header [heading]="'All Teams'" [icon]="'fa-table'"></app-page-header> -->
    <h2>
        All Teams
        <button class="btn btn-primary" style="float:right; margin-left:10px;" (click)="createTeam()">+ Create Team</button>
        <button class="btn btn-outline-success" style="float:right;" (click)="randomizeTeams()">Randomize Teams</button>
    </h2>
    <br/>
    <div class="row">
        <div class="col col-md-6" *ngFor="let team of teams">
            <div *ngIf="lodash.size(teams) == 0">You have no created teams!</div>
            <div class="card mb-3">
                <div class="card-header">
                    Team {{ team.name }} ({{lodash.size(team.members)}} members)
                    <select style="width:20%; background: white; margin-left:10px;" [(ngModel)]="team.coach_id" (ngModelChange)="changeTeamCoach(team)">
                        <option [value]="1">Erika</option>
                        <option [value]="2">Laura</option>
                    </select>
                    <button class="btn btn-sm btn-outline-danger" style="float:right; margin-left:10px;" (click)="deleteTeam(team)">Delete Team</button>
                    <button class="btn btn-sm btn-outline-primary" style="float:right;" (click)="addTeamMember(team.id)">+ Member</button>
                </div>
                <div class="card-body table-responsive">
                    <table class="table" droppable (onDrop)="onItemDrop($event, team)">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Age</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let member of team.members" draggable [dragData]="member">
                                <td><a [routerLink]="['/participant', member.participant.id]">{{ member.participant.first_name }} {{ member.participant.last_name }}</a></td>
                                <td>{{ member.participant.email }}</td>
                                <td>{{ strReplace(member.participant.phone) }}</td>
                                <td>{{ member.participant.age }}</td>
                            </tr>
                            <tr *ngIf="team.id == addRowTeamId && addingRow">
                                <td>
                                    <select class="form-control" [(ngModel)]="newMember">
                                        <option></option>
                                        <option *ngFor="let participant of participants" [value]="participant.id">
                                            {{ participant.first_name }} {{ participant.last_name }} <span *ngIf="participant.assigned_team != null">- {{ participant.assigned_team }}</span>
                                        </option>
                                    </select>
                                </td>
                                <td><button class="btn btn-primary" (click)="submitTeamMember(team.id, newMember)">+ Add</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->
