<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img style="margin-left:auto; margin-right:auto; display:block;" src="https://hinttohabit.com/wp-content/uploads/2018/02/Header-Logo.png">
            <h1>Management Portal</h1>
            <form role="form" (ngSubmit)="onLoggedin()">
                <div class="form-content">
                    <div class="form-group">
                        <input name="username" type="text" [(ngModel)]="credentials.username" class="form-control input-underline input-lg" placeholder="Username">
                    </div>

                    <div class="form-group">
                        <input name="password" type="password" [(ngModel)]="credentials.password" class="form-control input-underline input-lg" placeholder="Password">
                    </div>
                    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                </div>
                <button class="btn rounded-btn" type="submit"> Log in </button>
            </form>
        </div>
    </div>
</div>
