<!-- <div [@routerTransition]> -->
    <h2 class="text-muted">Dashboard</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    All Participants ({{ lodash.size(participants) }})
                    <span class="pull-right">
                        <button class="btn btn-sm btn-primary" (click)="refreshList()">Refresh</button>
                    </span>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Phone</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let participant of participants">
                                    <td><a [routerLink]="['/participant', participant.id]">{{ participant.first_name }} {{ participant.last_name }}</a></td>
                                    <td>{{ participant.age }}</td>
                                    <td>{{ participant.email }}</td>
                                    <td>{{ strReplace(participant.phone) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->
