<!-- <app-page-header [heading]="'Team Tracker'" [icon]="'fa-table'"></app-page-header> -->
<h2>Team Tracker</h2>
<h3 *ngIf="teamData">
	Team {{ teamData.name }} ({{lodash.size(teamData.members)}} members)
	<button class="btn btn-info" style="background-color: #13AADD; float:right;" (click)="saveData()">Save Data</button>
</h3>
<ul class="nav nav-tabs">
	<li class="nav-item">
	    <a class="nav-link" [ngClass]="{'active': week1Tab}" (click)="toggleTab(1)" href="javascript:void(0)">Week 1</a>
	</li>
	<li class="nav-item">
	    <a class="nav-link" [ngClass]="{'active': week2Tab}" (click)="toggleTab(2)" href="javascript:void(0)">Week 2</a>
	</li>
	<li class="nav-item">
	    <a class="nav-link" [ngClass]="{'active': week3Tab}" (click)="toggleTab(3)" href="javascript:void(0)">Week 3</a>
	</li>
	<li class="nav-item">
	    <a class="nav-link" [ngClass]="{'active': week4Tab}" (click)="toggleTab(4)" href="javascript:void(0)">Week 4</a>
	</li>
	<li class="nav-item">
	    <a class="nav-link" [ngClass]="{'active': week5Tab}" (click)="toggleTab(5)" href="javascript:void(0)">Week 5</a>
	</li>
	<li class="nav-item">
	    <a class="nav-link" [ngClass]="{'active': week6Tab}" (click)="toggleTab(6)" href="javascript:void(0)">Week 6</a>
	</li>
	<li class="nav-item">
	    <a class="nav-link" [ngClass]="{'active': week7Tab}" (click)="toggleTab(7)" href="javascript:void(0)">Week 7</a>
	</li>
	<li class="nav-item">
	    <a class="nav-link" [ngClass]="{'active': week8Tab}" (click)="toggleTab(8)" href="javascript:void(0)">Week 8</a>
	</li>
</ul>
<div class="row" *ngIf="week1Tab">
    <div class="col col-md-12">
        <div class="card mb-3">
            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Initial Weight</th>
                            <th>Current Weight</th>
                            <th>Weight Loss/Gain</th>
                            <th>Weight Loss/Gain %</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="teamData">
                        <tr *ngFor="let member of teamData.members">
                            <td><a [routerLink]="['/participant', member.participant.id]">{{ member.participant.first_name }} {{ member.participant.last_name }}</a></td>
                            <td>
                            	{{ member.participant.results.initial_weight }} 
                            	<span *ngIf="member.participant.results.initial_weight">lbs</span>
                            </td>
                            <td>
                            	<input class="form-control" [(ngModel)]="member.participant.results.week_1_weight" />
                            	<span *ngIf="member.participant.results.week_1_weight">lbs</span>
                            </td>
                            <td>
                            	{{ member.participant.results.week_1_weight - member.participant.results.initial_weight }} 
                            	<span *ngIf="member.participant.results.week_1_weight">lbs</span>
                            </td>
                            <td>
                            	{{ (((1.0 - (member.participant.results.week_1_weight / member.participant.results.initial_weight)) * 100)*-1).toFixed(2) }}
                            	<span *ngIf="member.participant.results.week_1_weight">%</span>
                            </td>
                            <td>
                            	<input class="form-control" [(ngModel)]="member.participant.results.week_1_points" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="week2Tab">
    <div class="col col-md-12">
        <div class="card mb-3">
            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Week 1 Weight</th>
                            <th>Current Weight</th>
                            <th>Weight Loss/Gain</th>
                            <th>Weight Loss/Gain %</th>
                            <th>Points</th>
                            <th>Total Weight Loss/Gain</th>
                            <th>Total % Weight Loss/Gain</th>
                            <th>Total Points</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="teamData">
                        <tr *ngFor="let member of teamData.members">
                            <td><a [routerLink]="['/participant', member.participant.id]">{{ member.participant.first_name }} {{ member.participant.last_name }}</a></td>
                            <td>
                            	{{ member.participant.results.week_1_weight }} 
                            	<span *ngIf="member.participant.results.week_1_weight">lbs</span>
                            </td>
                            <td>
                            	<input class="form-control" [(ngModel)]="member.participant.results.week_2_weight" />
                            	<span *ngIf="member.participant.results.week_2_weight">lbs</span>
                            </td>
                            <td>
                            	{{ member.participant.results.week_2_weight - member.participant.results.week_1_weight }} 
                            	<span *ngIf="member.participant.results.week_2_weight">lbs</span>
                            </td>
                            <td>
                            	{{ (((1.0 - (member.participant.results.week_2_weight / member.participant.results.week_1_weight)) * 100)*-1).toFixed(2) }}
                            	<span *ngIf="member.participant.results.week_2_weight">%</span>
                            </td>
                            <td>
                            	<input class="form-control" [(ngModel)]="member.participant.results.week_2_points" />
                            </td>
                            <td>
                            	{{ calcTotWeightChange(member.participant.results.initial_weight, member.participant.results.week_2_weight, 'lbs') }} lbs
                            </td>
                            <td>
                            	{{ calcTotWeightChange(member.participant.results.initial_weight, member.participant.results.week_2_weight, '%') }}%
                            </td>
                            <td>
                            	{{ calcTotPoints(member.participant.results, 'week2') }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="week3Tab">
    <div class="col col-md-12">
        <div class="card mb-3">
            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Week 2 Weight</th>
                            <th>Current Weight</th>
                            <th>Weight Loss/Gain</th>
                            <th>Weight Loss/Gain %</th>
                            <th>Points</th>
                            <th>Total Weight Loss/Gain</th>
                            <th>Total % Weight Loss/Gain</th>
                            <th>Total Points</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="teamData">
                        <tr *ngFor="let member of teamData.members">
                            <td><a [routerLink]="['/participant', member.participant.id]">{{ member.participant.first_name }} {{ member.participant.last_name }}</a></td>
                            <td>
                            	{{ member.participant.results.week_2_weight }} 
                            	<span *ngIf="member.participant.results.week_2_weight">lbs</span>
                            </td>
                            <td>
                            	<input class="form-control" [(ngModel)]="member.participant.results.week_3_weight" />
                            	<span *ngIf="member.participant.results.week_3_weight">lbs</span>
                            </td>
                            <td>
                            	{{ member.participant.results.week_3_weight - member.participant.results.week_2_weight }} 
                            	<span *ngIf="member.participant.results.week_3_weight">lbs</span>
                            </td>
                            <td>
                            	{{ ((1.0 - (member.participant.results.week_3_weight / member.participant.results.week_2_weight)) * 100).toFixed(2) * -1 }}
                            	<span *ngIf="member.participant.results.week_3_weight">%</span>
                            </td>
                            <td>
                            	<input class="form-control" [(ngModel)]="member.participant.results.week_3_points" />
                            </td>
                            <td>
                            	{{ calcTotWeightChange(member.participant.results.initial_weight, member.participant.results.week_3_weight, 'lbs') }} lbs
                            </td>
                            <td>
                            	{{ calcTotWeightChange(member.participant.results.initial_weight, member.participant.results.week_3_weight, '%') }}%
                            </td>
                            <td>
                            	{{ calcTotPoints(member.participant.results, 'week3') }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="week4Tab">
    <div class="col col-md-12">
        <div class="card mb-3">
            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Week 3 Weight</th>
                            <th>Current Weight</th>
                            <th>Weight Loss/Gain</th>
                            <th>Weight Loss/Gain %</th>
                            <th>Points</th>
                            <th>Total Weight Loss/Gain</th>
                            <th>Total % Weight Loss/Gain</th>
                            <th>Total Points</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="teamData">
                        <tr *ngFor="let member of teamData.members">
                            <td><a [routerLink]="['/participant', member.participant.id]">{{ member.participant.first_name }} {{ member.participant.last_name }}</a></td>
                            <td>
                            	{{ member.participant.results.week_3_weight }} 
                            	<span *ngIf="member.participant.results.week_3_weight">lbs</span>
                            </td>
                            <td>
                            	<input class="form-control" [(ngModel)]="member.participant.results.week_4_weight" />
                            	<span *ngIf="member.participant.results.week_4_weight">lbs</span>
                            </td>
                            <td>
                            	{{ member.participant.results.week_4_weight - member.participant.results.week_3_weight }} 
                            	<span *ngIf="member.participant.results.week_4_weight">lbs</span>
                            </td>
                            <td>
                            	{{ ((1.0 - (member.participant.results.week_4_weight / member.participant.results.week_3_weight)) * 100).toFixed(2) * -1 }}
                            	<span *ngIf="member.participant.results.week_4_weight">%</span>
                            </td>
                            <td>
                            	<input class="form-control" [(ngModel)]="member.participant.results.week_4_points" />
                            </td>
                            <td>
                            	{{ calcTotWeightChange(member.participant.results.initial_weight, member.participant.results.week_4_weight, 'lbs') }} lbs
                            </td>
                            <td>
                            	{{ calcTotWeightChange(member.participant.results.initial_weight, member.participant.results.week_4_weight, '%') }}%
                            </td>
                            <td>
                            	{{ calcTotPoints(member.participant.results, 'week4') }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="week5Tab">
    <div class="col col-md-12">
        <div class="card mb-3">
            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Week 4 Weight</th>
                            <th>Current Weight</th>
                            <th>Weight Loss/Gain</th>
                            <th>Weight Loss/Gain %</th>
                            <th>Points</th>
                            <th>Total Weight Loss/Gain</th>
                            <th>Total % Weight Loss/Gain</th>
                            <th>Total Points</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="teamData">
                        <tr *ngFor="let member of teamData.members">
                            <td><a [routerLink]="['/participant', member.participant.id]">{{ member.participant.first_name }} {{ member.participant.last_name }}</a></td>
                            <td>
                            	{{ member.participant.results.week_4_weight }} 
                            	<span *ngIf="member.participant.results.week_4_weight">lbs</span>
                            </td>
                            <td>
                            	<input class="form-control" [(ngModel)]="member.participant.results.week_5_weight" />
                            	<span *ngIf="member.participant.results.week_5_weight">lbs</span>
                            </td>
                            <td>
                            	{{ member.participant.results.week_5_weight - member.participant.results.week_4_weight }} 
                            	<span *ngIf="member.participant.results.week_5_weight">lbs</span>
                            </td>
                            <td>
                            	{{ ((1.0 - (member.participant.results.week_5_weight / member.participant.results.week_4_weight)) * 100).toFixed(2) * -1 }}
                            	<span *ngIf="member.participant.results.week_5_weight">%</span>
                            </td>
                            <td>
                            	<input class="form-control" [(ngModel)]="member.participant.results.week_5_points" />
                            </td>
                            <td>
                            	{{ calcTotWeightChange(member.participant.results.initial_weight, member.participant.results.week_5_weight, 'lbs') }} lbs
                            </td>
                            <td>
                            	{{ calcTotWeightChange(member.participant.results.initial_weight, member.participant.results.week_5_weight, '%') }}%
                            </td>
                            <td>
                            	{{ calcTotPoints(member.participant.results, 'week5') }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="week6Tab">
    <div class="col col-md-12">
        <div class="card mb-3">
            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Week 5 Weight</th>
                            <th>Current Weight</th>
                            <th>Weight Loss/Gain</th>
                            <th>Weight Loss/Gain %</th>
                            <th>Points</th>
                            <th>Total Weight Loss/Gain</th>
                            <th>Total % Weight Loss/Gain</th>
                            <th>Total Points</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="teamData">
                        <tr *ngFor="let member of teamData.members">
                            <td><a [routerLink]="['/participant', member.participant.id]">{{ member.participant.first_name }} {{ member.participant.last_name }}</a></td>
                            <td>
                            	{{ member.participant.results.week_5_weight }} 
                            	<span *ngIf="member.participant.results.week_5_weight">lbs</span>
                            </td>
                            <td>
                            	<input class="form-control" [(ngModel)]="member.participant.results.week_6_weight" />
                            	<span *ngIf="member.participant.results.week_6_weight">lbs</span>
                            </td>
                            <td>
                            	{{ member.participant.results.week_6_weight - member.participant.results.week_5_weight }} 
                            	<span *ngIf="member.participant.results.week_6_weight">lbs</span>
                            </td>
                            <td>
                            	{{ ((1.0 - (member.participant.results.week_6_weight / member.participant.results.week_5_weight)) * 100).toFixed(2) * -1 }}
                            	<span *ngIf="member.participant.results.week_6_weight">%</span>
                            </td>
                            <td>
                            	<input class="form-control" [(ngModel)]="member.participant.results.week_6_points" />
                            </td>
                            <td>
                            	{{ calcTotWeightChange(member.participant.results.initial_weight, member.participant.results.week_6_weight, 'lbs') }} lbs
                            </td>
                            <td>
                            	{{ calcTotWeightChange(member.participant.results.initial_weight, member.participant.results.week_6_weight, '%') }}%
                            </td>
                            <td>
                            	{{ calcTotPoints(member.participant.results, 'week6') }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="week7Tab">
    <div class="col col-md-12">
        <div class="card mb-3">
            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Week 6 Weight</th>
                            <th>Current Weight</th>
                            <th>Weight Loss/Gain</th>
                            <th>Weight Loss/Gain %</th>
                            <th>Points</th>
                            <th>Total Weight Loss/Gain</th>
                            <th>Total % Weight Loss/Gain</th>
                            <th>Total Points</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="teamData">
                        <tr *ngFor="let member of teamData.members">
                            <td><a [routerLink]="['/participant', member.participant.id]">{{ member.participant.first_name }} {{ member.participant.last_name }}</a></td>
                            <td>
                            	{{ member.participant.results.week_6_weight }} 
                            	<span *ngIf="member.participant.results.week_6_weight">lbs</span>
                            </td>
                            <td>
                            	<input class="form-control" [(ngModel)]="member.participant.results.week_7_weight" />
                            	<span *ngIf="member.participant.results.week_7_weight">lbs</span>
                            </td>
                            <td>
                            	{{ member.participant.results.week_7_weight - member.participant.results.week_6_weight }} 
                            	<span *ngIf="member.participant.results.week_7_weight">lbs</span>
                            </td>
                            <td>
                            	{{ ((1.0 - (member.participant.results.week_7_weight / member.participant.results.week_6_weight)) * 100).toFixed(2) * -1 }}
                            	<span *ngIf="member.participant.results.week_7_weight">%</span>
                            </td>
                            <td>
                            	<input class="form-control" [(ngModel)]="member.participant.results.week_7_points" />
                            </td>
                            <td>
                            	{{ calcTotWeightChange(member.participant.results.initial_weight, member.participant.results.week_7_weight, 'lbs') }} lbs
                            </td>
                            <td>
                            	{{ calcTotWeightChange(member.participant.results.initial_weight, member.participant.results.week_7_weight, '%') }}%
                            </td>
                            <td>
                            	{{ calcTotPoints(member.participant.results, 'week7') }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="week8Tab">
    <div class="col col-md-12">
        <div class="card mb-3">
            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Week 7 Weight</th>
                            <th>Current Weight</th>
                            <th>Weight Loss/Gain</th>
                            <th>Weight Loss/Gain %</th>
                            <th>Points</th>
                            <th>Total Weight Loss/Gain</th>
                            <th>Total % Weight Loss/Gain</th>
                            <th>Total Points</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="teamData">
                        <tr *ngFor="let member of teamData.members">
                            <td><a [routerLink]="['/participant', member.participant.id]">{{ member.participant.first_name }} {{ member.participant.last_name }}</a></td>
                            <td>
                            	{{ member.participant.results.week_7_weight }} 
                            	<span *ngIf="member.participant.results.week_7_weight">lbs</span>
                            </td>
                            <td>
                            	<input class="form-control" [(ngModel)]="member.participant.results.week_8_weight" />
                            	<span *ngIf="member.participant.results.week_8_weight">lbs</span>
                            </td>
                            <td>
                            	{{ member.participant.results.week_8_weight - member.participant.results.week_7_weight }} 
                            	<span *ngIf="member.participant.results.week_8_weight">lbs</span>
                            </td>
                            <td>
                            	{{ ((1.0 - (member.participant.results.week_8_weight / member.participant.results.week_7_weight)) * 100).toFixed(2) * -1 }}
                            	<span *ngIf="member.participant.results.week_8_weight">%</span>
                            </td>
                            <td>
                            	<input class="form-control" [(ngModel)]="member.participant.results.week_8_points" />
                            </td>
                            <td>
                            	{{ calcTotWeightChange(member.participant.results.initial_weight, member.participant.results.week_8_weight, 'lbs') }} lbs
                            </td>
                            <td>
                            	{{ calcTotWeightChange(member.participant.results.initial_weight, member.participant.results.week_8_weight, '%') }}%
                            </td>
                            <td>
                            	{{ calcTotPoints(member.participant.results, 'week8') }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>